<!doctype html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title%} Учет перевозок на Барзасском карьере {% endblock %}</title>
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/main.css'%}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <a href="{% url 'transport:index' %}" class="navbar-brand">Барзасский карьер</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="btn btn-outline-light" href="{% url 'admin:index'%}">Админка</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container">
    {% block content%}
    {% endblock %}
</div>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'admin/js/vendor/jquery/jquery.min.js' %}"></script>
</body>
