{% extends "base.html" %}
{% load static %}
{% block content%}
<div class="row">
    <div class="col-md-3">
        <div class="card">
            <img src="{% static 'img/tonar.jpg'%}" class="card-img-top" alt="tonar">
            <div class="card-body">
                <h5 class="card-title">Ходки транспорта</h5>
                <p class="card-content">Нажмите кнопку и выберите файл полученного отчета по ходкам из АСК-Навигации</p>

                <form action="{% url 'transport:index' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form_load}}
                    <button type="submit" class="btn btn-success mt-3 d-inline-flex" name="load">Загрузить
                        <i class="material-icons right arrow">send</i>
                    </button>
                </form>
            </div>
        </div>

    </div>
</div>


<div class="row">
    <div class="col">
        <ul class="nav nav-pills nav-justified" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a href="#trip" class="nav-link active" id="trip-tab" data-bs-toggle="tab"
                   data-bs-target="#trip-tab-pane" role="tab" aria-controls="trip-tab-pane"
                   aria-selected="true">Ходки транспорта</a>
            </li>
            <li class="nav-item" role="presentation">
                <a href="#reestr" class="nav-link" id="reestr-tab" data-bs-toggle="tab"
                   data-bs-target="#reestr-tab-pane" role="tab" aria-controls="reestr-tab-pane" aria-selected="false">Сводный
                    реестр</a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="trip-tab-pane" role="tabpanel" aria-labelledby="trip-tab"
                 tabindex="0">
                <table class="table  table-hover table-primary table-striped table-bordered">
                    <thead>
                    <tr class="table-dark text-center">
                        <td scope="col">Машина</td>
                        <td scope="col">Смена</td>
                        <td scope="col">Погрузка</td>
                        <td scope="col">Разгрузка</td>
                        <td scope="col">Ходки</td>
                    </tr>
                    </thead>
                    <tbody>

                    {% for tonar, dict_1 in dict_trip.items %}
                    {% for smena, dict_2 in dict_1.items %}
                    {% for store, trip in dict_2.items %}
                    <tr class="text-center" scope="row">
                        <td>{{ tonar }}</td>
                        <td>{{ smena }}</td>
                        <td>{{ store.0 }}</td>
                        <td>{{ store.1 }}</td>
                        <td>{{ trip }}</td>
                    </tr>
                    {% endfor %}
                    {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="tab-pane fade" id="reestr-tab-pane" role="tabpanel" aria-labelledby="reestr-tab" tabindex="0">
                <table class="table  table-hover table-warning table-striped table-bordered">
                    <thead>
                    <tr class="table-dark text-center" scope="row">
                        <td rowspan="2">Машина</td>
                        <td colspan={{lst_distance|length}}>Количество рейсов</td>
                        <td rowspan="2">Итого рейсов</td>
                    </tr>
                    <tr class="table-dark text-center" scope="row">
                        {% for dist in lst_distance %}
                        <td>{{ dist }}</td>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for tonar, lst_dist in dict_route.items %}

                    <tr class="text-center" scope="row">
                        <td>{{ tonar }}</td>
                        {% for count in lst_dist %}
                        <td>{{ count }}</td>
                        {% endfor %}
                    </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}
