{% extends "base.html" %}
{% block content%}
<div class="row">
    <h4 class="col s4">Форма загрузки</h4>
</div>
<div class="row">
    <div class="col s4">
        <form action="{% url 'transport:index' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form_load}}
            <button type="submit" class="btn waves-effect waves-light" name="load">Загрузить
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>
<div class="row">
    <div class="col s12">
        Поле с вкладками
    </div>
</div>
<div class="row">
    <div class="col s12">
          {{ file }}
    </div>
</div>


{% endblock %}
